.alinhamento{
  text-align: center;
  margin: auto;
}

.tituloPrincipal{
    font-weight: bold;
    color: rgb(25, 25, 112);
    font-size: 23px;
    font-family: sans-serif;
    text-align: left;
    column-span: 8;
    padding-left: 10px;
}

.caixaTexto{
    width: 40%;
    border-radius: 5px;
}

.caixaTextoData{
  border-radius: 5px;
}
.labelsTxt{
    font-weight: normal;
    color: rgb(112, 128, 144);
    font-size: 16px;
    font-family: sans-serif;
    width: 8%;
    text-align: right;
}

.labelsTxtValor{
  font-weight: bold;
  color: rgb(112, 128, 144);
  font-size: 16px;
  font-family: sans-serif;
  width: 20%;
  text-align: right;
}

.labelsTxtBox{
    width: 10%;
    text-align: left;    
}

.botao{
    text-align: left;
}

.tituloCelulaTabela{
    background-color: rgb(25, 25, 112);
    padding: 2px;
    border-radius: 4px;
    font-size: medium;
    font-family: sans-serif;
    color: rgb(240, 248, 255);
}

.valoresCelulaTabelaData{
    background-color: rgb(177, 177, 245);
    padding: 2px;
    padding-right: 4px;
    border-radius: 4px;
    font-size: small;
    font-family: sans-serif;
    color: rgb(0, 28, 53);
    text-align: center;
}


.valoresCelulaTabelaValor{
    background-color: rgb(177, 177, 245);
    padding: 2px;
    border-radius: 4px;
    font-size: small;
    font-family: sans-serif;
    color: rgb(0, 28, 53);
    text-align: right;
}

.tabelaDatas{
    background-color: rgb(240, 230, 140);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    width: 90%;
    display: block;
}

.tabelaDados{
    vertical-align: top;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    width: 90%;
}

.grafico{
    vertical-align: top;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.celulaPaginacao{
    text-align: center;
    align-items: center;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .pagination {
    display: -ms-flexbox;
    display: flex;
    
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  #myBar {
    width: 1%;
    height: 10px;
    background-color: midnightblue;
    border-radius: 5px;
  }