<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculo de rentabilidade</title>
    <script src="dist/angular.js"></script>
    <script src="dist/angular.min.js"></script>
    <script src="dist/Chart.js"></script>
    <script src="dist/angular-chart.js"></script>
    <script src="dist/angular-chart.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/pagination.js"></script>
    <script src="app/controllers/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
</head>

<body>
    <form #ngForm="ngForm" ng-app="myApp" ng-controller="MainController">
      <br><br>
      
    <center>
      <div>   
         <table class="tabelaDatas">
            <tr>
               <td class="tituloPrincipal" colspan="7">
                  Calculo de CDI
               </td>
            </tr>
            <tr>
               <td class="labelsTxt">
                  Data Inicio:
               </td>
               <td class="labelsTxtBox">
                  <input class="caixaTextoData" type="date" ng-model="datInic" required placeholder="mm/dd/yyyy" min="2010-01-04" max="2020-07-06" />
               </td>
               <td class="labelsTxt">
                  Data Atual:
               </td>
               <td class="labelsTxtBox">
                  <input class="caixaTextoData" type="date" ng-model="datFim" required placeholder="mm/dd/yyyy" min="2010-01-04" max="2020-07-06" />
               </td>
               <td class="labelsTxt">
                  Taxa CDB: 
               </td>
               <td class="labelsTxtBox">
                  <input class="caixaTexto" type="number" ng-model="taxaCDB" min="0" required width="15%"/>
               </td>
               <td class="botao"> 
                  <button ng-click="calcular()" [disabled]="!form.valid">Calcular</button>
               </td>
               <td class="labelsTxtValor"> 
                  <div ng-if="lista">Valor calculado: {{valorFinal.unitPrice | currency:"R$":2}}</div>
               </td>
            </tr>
         </table>
      </div>
      <br>
      <div ng-if="showbar" id="myProgress">
         <div id="myBar"></div>
      </div>
      <br>
                 
      
      <div ng-if="lista">
 
            <table  width="90%">
               <tr>
                  <td valign="top" width="25%">
                     <table class="tabelaDados" width="100%">
                        <tr width="20%">
                           <th class="tituloCelulaTabela">Data</th>
                           <th class="tituloCelulaTabela">Valor</th>
                        </tr>
                        <tr width="25%" ng-repeat="x in paginate.result.data">
                           <td class="valoresCelulaTabelaData"> {{x.date | date:'dd/MM/yyyy' }}</td>
                           <td class="valoresCelulaTabelaValor"> {{x.unitPrice | currency:"R$":2}}</td>
                        </tr>
                        <tr>
                           <td class="celulaPaginacao" colspan="2">
                              <nav aria-label="Navegação">
                                 <ul class="pagination">
                                 <li class="page-item"><a class="page-link" ng-click="paginate.prev()">Anterior</a></li>
                                 <li class="page-item"><a class="page-link" ng-click="paginate.next()">Próximo</a></li>
                                 </ul>
                              </nav>
                           </td>
                        </tr>
                     </table>
                  </td>
                  <td class="tabelaDados" width="75%">
                     <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
                  </td>   
               </tr>   
            </table>
    
       </div>

      </form>
       
    </div>
    
</body>
</html>

